.timeline-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    /* background-color: #1a233110; */
    backdrop-filter: blur(8px);
}

.timeline-container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.timeline-counter {
    overflow: clip;
    /* z-index: 10; */
}

/* .timeline-counter::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #1a233110;
    backdrop-filter: blur(4px);
} */

.timeline-counter.first::before {
    --counter-height: 68rem;
    content: "";
    display: flex;
    position: absolute;
    height: 68rem;
    width: 2px;
    background: linear-gradient(to bottom, #9d69fb, #f79552);
    /* z-index: 50; */
    top: 2.5rem;
    bottom: 50vh;
}
