@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --orange: #ff9901;
    --purple: #9d69fb;
    --links: #31a6fa;
    --white: #dee8ed;
    --black: #111111;
    --gray: #333f53;
    --light-gray: #c0c9ce;
    --dark-gray: #171d27;
    --text-gradient: linear-gradient(to top right, #f79552, #f79552, #dd918f);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1Q;
    max-width: fit-content;
    color: var(--orange);
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1Q;
    max-width: fit-content;
    color: var(--orange);
}

p {
    font-size: 18px;
    font-weight: 300;
    /* color: var(--light-gray); */
}

.link {
    color: var(--links);
    font-weight: 600;
    display: flex;
}

header {
    @apply transition-all duration-500 ease-in-out;
}

button {
    background-color: var(--orange);
    white-space: nowrap;
}

.ulList li a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 1rem 0.8rem;
    display: flex;
    text-align: center;
    white-space: nowrap;
}

.hero {
    background: radial-gradient(80% 130% at 110% -10%, #320133, #3d00ff3d),
        radial-gradient(80% 130% at -10% 110%, #100033, #121b272b);
}

img {
    -webkit-user-drag: none; /* Safari and Chrome */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none; /* Standard */
}

.hero::after {
    content: "";
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0008;
    z-index: -1;
}

.hero canvas {
    display: block;
    position: fixed;
    z-index: -1;
}

.about,
.speakers {
    background-image: url("logos/rect.svg");
}

.blur1 {
    content: "";
    display: block;
    background-image: url("logos/blur.svg");
    position: absolute;
    height: 512px;
    width: 512px;
    top: -150px;
    left: 0;
    rotate: 120deg;
}

/* .blur2 {
    content: "";
    display: block;
    background-image: url("logos/blur.svg");
    position: absolute;
    height: 512px;
    width: 512px;
    top: 0px;
    right: 100px;
    rotate: -90deg;
} */
